
        <div data-role="page" data-title="Login" data-theme="b" id="login">
            <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
                <h1 style="margin:0;">Mobile</h1>
            </div>
            <div data-role="content" >
                <div class="login">
                    <div class="row">
                        <div class="col s12">
                          <div class="row">
                              <form class="col s12">
                            <div class="input-field col s12">
                              <i class="mdi-action-account-circle prefix"></i>
                              <input id="icon_prefix" type="text" class="validate">
                              <label for="icon_prefix">Usuario</label>
                            </div>
                            <div class="input-field col s12">
                              <i class="mdi-action-lock-outline prefix"></i>
                              <input id="icon_telephone" type="tel" class="validate">
                              <label for="icon_telephone">Contraseña</label>
                            </div>
                            </form>
                            <button class="btn waves-effect waves-light orange" id="btn_login" type="" name="">Iniciar Sesión</button>
                          </div>
                        
                        <a href="/#/s2" class="btn-floating btn-large waves-effect waves-light orange f_r tooltipped" data-position="left" data-delay="50" data-tooltip="Siguiente / Next"><i class="mdi-content-forward"></i></a>
                    </div>
                </div>
                <div class="loader">
                    <div class="preloader-wrapper big active">
                      <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                
                      <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                
                      <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                
                      <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
