        <div data-role="page" data-title="Login" data-theme="b" id="login">
            <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
                
                
               
               <div class="f_l btn_nav">
                    <a href="#" data-activates="slide-out2" class="button-collapse1 show-on-large"><i class="mdi-navigation-menu"></i></a>
                </div>
                
                <h1 style="margin:0;">Siema Mobile</h1>
                
                <div class="f_r btn_nav">
                    <a href="#" data-activates="slide-out1" class="button-collapse2 show-on-large"><i class="mdi-navigation-more-vert"></i></a>
                </div>
            </div>
            
              <ul id="slide-out2" class="side-nav">
                <li>
                    <div class="m_l">
                        <div class="p_h">
                            <a href="/#/" class="btn-floating btn-large waves-effect waves-light orange f_l tooltipped" data-position="right" data-delay="50" data-tooltip="Usuario / User"><i class="mdi-action-account-circle prefix"></i></a>
                            <a href="/#/s3" class="btn-floating btn-large waves-effect waves-light orange f_r tooltipped" data-position="bottom" data-delay="50" data-tooltip="Subir / Upload"><i class="mdi-image-camera-alt"></i></a>
                        </div>
                        <div class="p_d">
                            <div style="text-align: left;">
                                <i class="mdi-action-account-circle prefix"></i><div><span class="n">Fabian Jimenez Rodriguez</span><br><span>47 47 47 47</span></div>
                                <i class="mdi-action-room prefix"></i><div><span>Cedi Cali Valle (47) 47 47 47 47</span></div>
                            </div>
                            
                        </div>
                        <div class="p_c">
                            <div style="text-align: left;">
                                <ul>
                                    <li><a href="#" class="active">Gestión Comercial</a></li>
                                    <li><a href="#">Crear Ruta Extra</a></li>
                                    <li><a href="#">Mover Ruta</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="p_c">
                            <div style="text-align: left;">
                                <ul>
                                    <li><a href="#" class="active">Consultas</a></li>
                                    <li><a href="#">Existentes</a></li>
                                    <li>
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                              <div class="collapsible-header">Indicadores <b class="mdi-action-trending-neutral f_r"></b></div>
                                              <div class="collapsible-body">
                                                  <ul>
                                                      <li><a href="#">Indicadores de Gestión</a></li>
                                                      <li><a href="#">Resumen de Gestión</a></li>
                                                  </ul>
                                              </div>
                                            </li>
                                          </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
              </ul>
            
              <ul id="slide-out1" class="side-nav">
                <li>
                    <div class="m_l">
                        <div class="p_c">
                            <div style="text-align: left;">
                                <ul>
                                    <li><a href="#" class="active">Indicadores de Visita</a></li>
                                    <li><div class="row" style="margin: 0">
                                        <div class="col s8"><a href="#" style="padding-bottom: 0">Programadas</a></div>
                                        <div class="col s4"><a>33</a></div>
                                    </div></li>
                                    <li><div class="row"  style="margin: 0">
                                        <div class="col s8"><a href="#"  style="padding-bottom: 0">Extrarutas</a></div>
                                        <div class="col s4"><a>1</a></div>
                                    </div></li>
                                    <li><div class="row" style="margin: 0">
                                        <div class="col s8"><a href="#" style="padding-bottom: 0">Realizadas</a></div>
                                        <div class="col s4"><a>30</a></div>
                                    </div></li>
                                    <li><div class="row" style="margin: 0">
                                        <div class="col s8"><a href="#" style="padding-bottom: 0">Efectivas</a></div>
                                        <div class="col s4"><a>6</a></div>
                                    </div></li>
                                    <li><div class="row" style="margin: 0">
                                        <div class="col s8"><a href="#" style="padding-bottom: 0">Cumplimiento</a></div>
                                        <div class="col s4"><a>66%</a></div>
                                    </div></li>
                                    <li><div class="row" style="margin: 0">
                                        <div class="col s8"><a href="#" style="padding-bottom: 0">Efectividad</a></div>
                                        <div class="col s4"><a>70%</a></div>
                                    </div></li>
                                </ul>
                            </div>
                        </div>
                        <div class="p_c">
                            <div style="text-align: left;">
                                <ul style="padding-bottom: 1rem">
                                    <li><a href="#" class="active">Estado de Sincronización</a></li>
                                    <li><div class="row" style="margin: 0">
                                        <div class="col s8"><a href="#" style="padding-bottom: 0">Existen Registros</a></div>
                                        <div class="col s4"><a>Si</a></div>
                                    </div></li>
                                    <li><div class="row"  style="margin: 0">
                                        <div class="col s8"><a href="#"  style="padding-bottom: 0">Última Sincronización</a></div>
                                        <div class="col s4"><a>23/12/2015</a></div>
                                    </div></li>
                                    <li><div class="row" style="margin: 0">
                                        <div class="col s8"><a href="#" style="padding-bottom: 0">Registros Pendientes</a></div>
                                        <div class="col s4"><a>23</a></div>
                                    </div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
              </ul>
                    <button style="margin: 1em auto; max-width: 70%;display: block!important; background-color: rgb(130,130,130)!important" data-activates="slide-out2" class="button-collapse1 show-on-large btn waves-effect waves-light orange" id="btn_profile" type="" name="">Perfil</button>
                
            <div data-role="content" >
                <a href="/#/" class="btn-floating btn-large waves-effect waves-light orange f_l tooltipped" data-position="right" data-delay="10" data-tooltip="Atras / Before"><i class="mdi-content-forward"></i></a>
                <a href="/#/s3" class="btn-floating btn-large waves-effect waves-light orange f_r tooltipped" data-position="left" data-delay="10" data-tooltip="Siguiente / Next"><i class="mdi-content-forward"></i></a>
            </div>
        </div>