
        
        <div data-role="page" data-title="Login" data-theme="b" id="login">
            <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
               <div class="f_l btn_nav">
                    <a href="#" style="opacity: 0" data-activates="slide-out2" class="button-collapse1 show-on-large"><i class="mdi-navigation-menu"></i></a>
                </div>
                
                <h1 style="margin:0; opacity: 0">Siema Mobile</h1>
                
                <div class="f_r btn_nav">
                    <a href="#" style="opacity: 0" data-activates="slide-out1" class="button-collapse2 show-on-large"><i class="mdi-navigation-more-vert"></i></a>
                </div>
            </div>
            <div data-role="content" >
                
                 <div class="row">
                      <div class="col s12">
                        <table class="table-gestion-comercial">
                          <thead class="head-table">
                            <tr>
                                <th data-field="id" colspan="3"><span class="text-center title-table-gestion">Consultas</span</th>
                            </tr>
                          </thead>
                            <tbody>
                            <tr>
                                <td colspan="3">
                                    <div class="input-field col s12">
                                        <select>
                                          <option value="" disabled selected>Seleccione Grupo</option>
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                        </select>
                                      </div>
                                </td>
                            </tr>
                            <tr style="padding: 0">
                                <td style="padding: 0" colspan="3">
                                    <div class="row"  style="margin: 0">
                                        <div class="col s6">
                                            <p>
                                              <input class="with-gap" name="group1" type="radio" id="test3"  />
                                              <label for="test3" style="font-weight: bold;color: black">codigo</label>
                                            </p>
                                        </div>
                                        <div class="col s6">
                                            <p>
                                              <input class="with-gap" name="group1" type="radio" id="test2"  />
                                              <label for="test2" style="font-weight: bold;color: black">Descripción</label>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                              <td colspan="3">
                                  <div class="search-form">
                                    <div class="row">
                                      <div class="input-field col s9">
                                        <input placeholder="Buscar Referencia / Search Reference" id="first_name" type="text" class="validate">
                                      </div>
                                      <div class="col s3">
                                          <a id="btn_search" class="btn-floating btn_search_icon btn-large waves-effect waves-light red"><i class="mdi-action-search"></i></a>
                                      </div>
                                    </div>
                                  </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        
                      </div>
                      
                    </div>
                    
                    <div class="row">
                      <div class="col s12">
                        <table class="table-gestion-comercial-2 move-clients">
                          <thead class="head-table">
                            <tr>
                                <th data-field="id" colspan="3">
                                    <span class="text-center title-table-gestion">Resultados de la búsqueda</span>
                                </th>
                            </tr>
                          </thead>
                            <tbody>
                                <tr class="separator">
                                    <td>
                                     <p> &nbsp;&nbsp;</p>
                                  </td>
                                  <td>
                                      <div class="area-detail">
                                          <span class="detail-label title-detail">
                                              75068584 SUAREZ CARVAJAL JESUS
                                          </span>
                                          <span class="detail-label almacen-id">
                                              Almacen: 000
                                          </span>
                                      </div>
                                  </td>
                                  <td>
                                     <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                  </td>
                                </tr>
                                <tr class="separator">
                                  <td>
                                     <p> &nbsp;&nbsp;</p>
                                  </td>
                                  <td>
                                      <div class="area-detail">
                                          <span class="detail-label title-detail">
                                              75068584 SUAREZ CARVAJAL JESUS
                                          </span>
                                          <span class="detail-label almacen-id">
                                              Almacen: 000
                                          </span>
                                      </div>
                                  </td>
                                  <td>
                                      &nbsp;
                                  </td>
                                </tr>
                                <tr class="separator">
                                  <td>
                                     <p> &nbsp;&nbsp;</p>
                                  </td>
                                  <td>
                                      <div class="area-detail">
                                          <span class="detail-label title-detail">
                                              75068584 SUAREZ CARVAJAL JESUS
                                          </span>
                                          <span class="detail-label almacen-id">
                                              Almacen: 000
                                          </span>
                                      </div>
                                  </td>
                                  <td>
                                      &nbsp;
                                  </td>
                                </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                <a style="z-index: 0" href="/siema/#/s6" class="btn-floating btn-large waves-effect waves-light orange f_l tooltipped" data-position="right" data-delay="10" data-tooltip="Atras / Before"><i class="mdi-content-forward"></i></a>
                <a style="z-index: 0" href="/siema/#/s8" class="btn-floating btn-large waves-effect waves-light orange f_r tooltipped" data-position="left" data-delay="10" data-tooltip="Siguiente / Next"><i class="mdi-content-forward"></i></a>
            </div>
        </div>