
        
        <style type="text/css">
            span.title-detail {
    width: 100%;
    display: inline-block;
    font-size: 16px;
}

span.almacen-id {
    width: 100%;   display: inline-block;   font-size: 16px;
}

span.direction-id {
    width: 100%;   display: inline-block;   font-size: 16px;
}

span.telephone-id {
    width: 100%;   display: inline-block;   font-size: 16px;
}

span.frecuencia-id {
    width: 100%;   display: inline-block;   font-size: 16px;
    color: rgb(102, 102, 102);
}

span.title-detail {
    color: rgb(102, 102, 102);
}

span.detail-label {
    margin-top: -2px;
}
        </style>
        
        <div data-role="page" data-title="Login" data-theme="b" id="login">
            <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
               <div class="f_l btn_nav">
                    <a href="#" style="opacity: 0" data-activates="slide-out2" class="button-collapse1 show-on-large"><i class="mdi-navigation-menu"></i></a>
                </div>
                
                <h1 style="margin:0; opacity: 0">Siema Mobile</h1>
                
                <div class="f_r btn_nav">
                    <a href="#" style="opacity: 0" data-activates="slide-out1" class="button-collapse2 show-on-large"><i class="mdi-navigation-more-vert"></i></a>
                </div>
            </div>
            <div data-role="content" >
                
                 <div class="row">
                      <div class="col s12">
                        <table class="table-gestion-comercial">
                          <thead class="head-table">
                            <tr>
                                <th data-field="id" colspan="3"><span class="text-center title-table-gestion">Consultas</span</th>
                            </tr>
                          </thead>
                            <tbody>
                            <tr>
                                <td style="padding-left: 1.5rem;padding-right: 1rem">
                                    <div class="area-detail">
                                      <span class="detail-label title-detail">
                                          Ejecutivo de Ventas
                                      </span>
                                      <span class="detail-label almacen-id" style="color: black;">
                                          4704 - Fabian Jimenez Rodriguez
                                      </span>
                                      <span class="detail-label direction-id">
                                          Fecha
                                      </span>
                                      <span class="detail-label telephone-id" style="color: black;">
                                          11 / 05 / 2015
                                      </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="input-field col s12">
                                        <select>
                                          <option value="" disabled selected>Ventas</option>
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                        </select>
                                      </div>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                        
                      </div>
                      
                    </div>
                    
                    <div class="row">
                      <div class="col s12">
                        <table class="table-gestion-comercial-2 move-clients">
                          <thead class="head-table">
                            <tr>
                                <th data-field="id" colspan="4">
                                    <span class="text-center title-table-gestion">Resultados de la búsqueda</span>
                                </th>
                            </tr>
                          </thead>
                            <tbody>
                                <tr class="separator">
                                  <td>
                                      <span>&nbsp;</span>
                                  </td>
                                  <td  style="text-align: center;">
                                      <span style="font-weight:bold">Día</span>
                                  </td  style="text-align: center;">
                                  <td  style="text-align: center;">
                                      <span style="font-weight:bold">A la fecha</span>
                                  </td>
                                  <td  style="text-align: center;">
                                      <span style="font-weight:bold">Proyectado</span>
                                  </td>
                                </tr>
                                <tr class="separator">
                                  <td style="padding-left: 1rem">
                                      <span style="font-weight:bold">Presupuesto</span>
                                  </td>
                                  <td>
                                      <span>$4,664,557</span>
                                  </td>
                                  <td>
                                      <span>$51,586,147</span>
                                  </td>
                                  <td>
                                      <span>$144,850,400</span>
                                  </td>
                                </tr>
                                <tr class="separator">
                                  <td style="padding-left: 1rem">
                                      <span style="font-weight:bold">Real</span>
                                  </td>
                                  <td>
                                      <span>$0</span>
                                  </td>
                                  <td>
                                      <span>$91,004,756</span>
                                  </td>
                                  <td>
                                      <span>$189,257,300</span>
                                  </td>
                                </tr>
                                <tr class="separator">
                                  <td style="padding-left: 1rem">
                                      <span style="font-weight:bold">Cumplimiento</span>
                                  </td>
                                  <td>
                                      <span>0%</span>
                                  </td>
                                  <td>
                                      <span>131%</span>
                                  </td>
                                  <td>
                                      <span>100%</span>
                                  </td>
                                </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                <a style="z-index: 0" href="/#/s7" class="btn-floating btn-large waves-effect waves-light orange f_l tooltipped" data-position="right" data-delay="10" data-tooltip="Atras / Before"><i class="mdi-content-forward"></i></a>
                <a style="z-index: 0" href="/#/s9" class="btn-floating btn-large waves-effect waves-light orange f_r tooltipped" data-position="left" data-delay="10" data-tooltip="Siguiente / Next"><i class="mdi-content-forward"></i></a>
            </div>
        </div>